<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Node.js + MySQL</title>
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Cadastrar Cliente</a></li>
            <li><a href="/clientesCadastros">vizualizar Clientes</a></li>
            <li><a href="/editclientes">Editar Clientes</a></li>
            <li><a href="/veiculoscadastros">Cadastrar Veiculo</a></li>
            <li><a href="/visualizarVeiculos">Visualizar Veiculo</a></li>
            <li><a href="/editveiculos">Editar Cadastro dos Veiculos</a></li>
            <li><a href="/">Reserva</a></li>



        </ul>
    </nav>
    {{{body}}}
</body>

</html>