<h1>Cadastro do Cliente:</h1>
<form class="form" action="/cadastrado" method="POST">
  <div class="form-control">
    <label for="nome">Cliente:</label>
    <input type="text" name="nome" placeholder="Nome"></for>
  </div>
  <div class="form-control">
    <label for="endereço">Endereço do Cliente:</label>
    <input type="text" name="endereço" placeholder="Endereço ">
  </div>

  <div class="form-control">
    <label for="telefone"> Telefone de Contato:</label>
    <input type="text" name="telefone" placeholder="Contato">
  </div>

  <div class="form-control">
    <label for="email">Email do Cliente:</label>
    <input type="text" name="email" placeholder="Email">
  </div>



  <input type="submit" value="Cadastrar">
</form>