<h1>Cadastro de Veiculos:</h1>
<form class="form" action="/veiculoscadastros" method="POST">
  <div class="form-control">
    <label for="nome">Marca:</label>
    <input type="text" name="marca" placeholder="Marca"></for>
  </div>
  <div class="form-control">
    <label for="modelo">Modelo do Veiculo:</label>
    <input type="text" name="modelo" placeholder="veiculo ">
  </div>

  <div class="form-control">
    <label for="ano"> Ano :</label>
    <input type="text" name="ano" placeholder="Ano">
  </div>

  <div class="form-control">
    <label for="placa">Placa do veículo:</label>
    <input type="text" name="placa" placeholder="placa">
  </div>
  
  <div class="form-control">
    <label for="disponibilidade">Disponibilidade:</label>
    <input type="text" name="disponibilidade" placeholder="disponibilidade">
  </div>
  




  <input type="submit" value="Cadastrar">
</form>